    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">HomeBase</span>
        <div class="justify-content-left d-flex">
            <a class="nav-link" href="/homepage">Homepage</a>
              <button class="navbar-item btn mx-2 btn-outline-secondary" id="logout">Logout</button>
            </div>
      </nav>
      <main class="container">
        <section class="row my-2">
          <h3 class="col-md">Group Name: Party House</h3>
          <h3 class="col-md">Address: 123 Main</h3>
          <h3 class="col-md">Group Id: 12345</h3>
          <button type="button" class="btn btn-outline-danger btn-block" id="delete-btn">Delete Base</button>
        </section>
        <section class="row">
          <div class="col-md">
            <form id="grocery-form">
              <h3 class="text-center">Grocery List</h3>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="grocery-name"
                  placeholder="Grocery Name"
                />
              </div>
              <button
                type="submit"
                id="add-grocery"
                class="btn btn-success btn-block"
              >
                Add
              </button>
            </form>
  
            <div class="list-container mt-2">
              <h6>This week we need...</h6>
              <div class="card">
                <ul class="list-group" id="saved-groceries">
                  <li>Grocery Item</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md">
            <form id="bill-form">
              <h3 class="text-center border-left border-right">Bills</h3>
              <div
                class="form-group"
                <input
                class="bill-title form-control"
                placeholder="Name of Bill"
                type="text"
              >
                <textarea
                  class="bill-textarea form-control"
                  placeholder="Bill Information"
                ></textarea>
              </div>
            </form>
            <div class="d-flex justify-content-between">
              <button
                type="button"
                id="add-bill"
                class="btn btn-success btn-block"
              >
                Add
              </button>
            </div>
            <div class="list-container mt-2">
              <div class="card">
                <ul class="list-group" id="saved-bills">
                  <li>Sample Bill</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md">
            <h3 class="text-center">Chores</h3>
            <h6>Chore Wheel</h6>
            <button
              type="button"
              id="spin_button"
              class="btn btn-info btn-block"
              onclick="startSpin()"
            >
              Spin
            </button>
            <canvas> Your browser does not support the canvas tag. </canvas>
            <script src="../public/javascript/winwheel.js"></script>
          </div>
        </section>
      </main>
  
      <script src="/javascript/logout.js"></script>