    <nav class="navbar navbar-light bg-light">
      <div class="justify-content-between container">
        <span class="navbar-brand mb-0 h1">HomeBase</span>
        <div id="navbarNavAltMarkup" class="row">
          <div class="navbar-nav">
            <a class="nav-item nav-link col-md" href="#">Logout</a>
            <a class="nav-item nav-link col-sm" href="/homepage">Homepage</a>
          </div>
        </div>
      </div>
    </nav>
    <main class="container">
      <section class="row mb-2">
        <h2 class="col-md">Group Name: Party House</h2>
        <h2 class="col-md">Address: 123 Main</h2>
        <h2 class="col-md">Group Id: 12345</h2>
      </section>
      <section class="row">
        <div class="col-md">
          <form id="grocery-form">
            <h3 class="text-center">Grocery List</h3>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="grocery-name"
                placeholder="Grocery Name"
              />
            </div>
            <button
              type="submit"
              id="add-grocery"
              class="btn btn-success btn-block"
            >
              Add
            </button>
          </form>

          <div class="list-container mt-2">
            <h6>This week we need...</h6>
            <div class="card">
              <ul class="list-group" id="saved-groceries">
                <li>Grocery Item</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md">
          <form id="bill-form">
            <h3 class="text-center border-left border-right">Bills</h3>
            <div
              class="form-group"
              <input
              class="bill-title form-control"
              placeholder="Name of Bill"
              type="text"
            >
              <textarea
                class="bill-textarea form-control"
                placeholder="Bill Information"
              ></textarea>
            </div>
          </form>
          <div class="d-flex justify-content-between">
            <button
              type="button"
              id="add-bill"
              class="btn btn-success btn-block"
            >
              Add
            </button>
          </div>
          <div class="list-container mt-2">
            <div class="card">
              <ul class="list-group" id="saved-bills">
                <li>Sample Bill</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md">
          <h3 class="text-center">Chores</h3>
          <h6>Chore Wheel</h6>
          <button
            type="button"
            id="spin_button"
            class="btn btn-dark btn-block"
            onclick="startSpin()"
          >
            Spin
          </button>
          <canvas> Your browser does not support the canvas tag. </canvas>
          <script src="../public/javascript/winwheel.js"></script>
        </div>
      </section>
    </main>

    <script src="/javascript/login.js"></script>