#logout:hover {

    background-color: crimson;
}

#group-signup {

    background-color: rgb(153, 94, 5);
    
}

nav {

    background-color: rgb(153, 94, 5);
}

footer {

    background-color: rgb(153, 94, 5);
}