body {
    background-color: #c5c6c7;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/*login styles below */
h1 {
    color:#0B0C10;
}

h2 {
    color:#0B0C10;
}

/* homepage styles below */
h4 {
    color:#0B0C10;
}

/* dashboard styles below */

a {
    color: #66fcf1
}

.group-text {
    color: #0B0C10;
    font-weight: 900;
}

.fa-trash {
    cursor: pointer;
}

.group-info {
    color: #66fcf1
}

h3 {
    color: #0B0C10;  
}

#grocery-heading {
    color: whitesmoke;
}

.list-group-item {
    background-color: #343a40;
    list-style: none;
    color: whitesmoke; 
    display: flex;
    justify-content: space-between;
}

h6 {
    color: #17a2b8
}

#canvasContainer {
    background-image: url(/images/basic_wheel_background.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 400px;
}